<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200&family=Yanone+Kaffeesatz:wght@200;400&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css" />
    <title>A {{ poemstyle }} in the style of {{ textcorpus }}</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>Random Poetry Generator</h1>
            <div>
                <p>
                    Generate random poetry in the style of famous poems, using text / lyrics.
                </p>
                <a href="#" class="btn btn-primary">Primary!</a> 
                <a href="#" class="btn btn-secondary">Secondary!</a>
            </div>
        </div>
    </section>

    <section>
    <div class="container">
        <p class="poemheader">A <span class="poemaccent">{{ poemstyle }}</span> in the style of <span class="poemaccent">{{ textcorpus }}</span></p>
        <div>
            <p class="poemtext">
                {{ poem }}
            </p>
        </div>
    </div>
    </section>
</body>
</html>