<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz:wght@200..400&family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <title>Test</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>Random Poetry Generator</h1>
            <div>
                <p>
                    Generate random poetry in the style of famous poems, using text / lyrics.
                </p>
                <a href="#" class="btn btn-primary">Primary!</a> 
                <a href="#" class="btn btn-secondary">Secondary!</a>
            </div>
        </div>
    </section>

    <section>
    <div class="container">
        <p class="poemheader">A <span class="poemaccent">Limerick</span> in the style of <span class="poemaccent">Jethro Tull</span></p>
        <div>
            <p class="poemtext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                Maecenas mollis, velit sagittis tempus tempus, nunc lacus <br>
                ornare dolor, eget convallis nibh dui ut metus. <br>
                Praesent vitae sollicitudin nisl, <br>
                sed pretium ex. Aliquam neque urna, <br>
                tincidunt vel ultrices eget, ornare ac ex. Ut tempor pulvinar <br>
                libero nec tincidunt. Vivamus vitae congue felis. <br>
                Quisque tempor ipsum eu mauris placerat, suscipit imperdiet sapien porttitor. <br>
                Proin condimentum nisi sed mi viverra iaculis. Proin facilisis mauris eget commodo dignissim. <br>
                Etiam imperdiet fermentum tellus, non lacinia risus porta dignissim. <br>
                Nulla facilisi. Vestibulum in lorem ultricies, condimentum nunc quis, mollis turpis. <br>
                Proin mollis ornare elementum. Curabitur leo dolor, auctor sit amet aliquam sodales, malesuada nec mauris. <br>
                Mauris blandit leo non enim tempor fermentum. Etiam faucibus dolor id mattis dignissim. <br>
            </p>
        </div>
    </div>
    </section>
</body>
</html>